body {
  background-color: #eeeeee;
}

.sub-title {
  color: #534e52;
}

a {
  color: #af6b58;
}

div img {
  width: 30%;
  height: 30%;
}

.page-container {
  position: relative;

}
/* Header */
.navbar {
  display: grid;
  grid-template-columns: 40vw auto 4vw ;
  background-color: #393e46;
  height: 85%;
}

#subscribe {
  text-decoration: underline;
  color: #d37815;
}

#blog-name {
  font-size: 2rem;
  color: #ffd369;
}

#search {
  width: 3vw;
  height: 3vw;
  position: relative;
  top: 30%;
}

/* Home */
.grid-container {
  display: grid;
  grid-template-columns: 70vw auto;
  grid-gap: 1%;
  padding: 5%;
}

.card {
  margin: 1rem;
  padding: 1rem;
  border: #c7956d 0.3vw;
  border-style: dashed;
  margin-bottom: 1rem;

}

.card:hover {
  background-color: #ffe5b9;
}

.summary {
  display: inline-block;
  text-overflow: ellipsis;
  word-break: break-all;
}

.about-me {
  border: solid black;
  padding: 5%;
  text-align: justify;
  margin-bottom: 5vh;
}

.about-text {
  color: #8f384d;
}

/* Posts */
.post-time {
  color: #a6a9b6;
  font: 0.5rem;
  font-style: italic;
}

.full-post {
  margin-bottom: 5%;
}

.part {
  margin: 4%;
}

.first-img {
  float: left;
  margin-right: 5%;
  margin-bottom: 1rem;
  z-index: -1;
}

.second-img {
  float: right;
  margin-left: 5%;
}

.first-img:hover , .second-img:hover{
  opacity: 0.5;
}

.quote {
  margin: 0 10%;
  color: #a6a9b6;
}

.side-section {
  margin: 2vw 1vw;
}

.old-new {
 text-align: center;
}


/* Footer */
footer {
  position: absolute;
  /* bottom: 0; */
  left: 42%;
}

.sub-mobile {
 visibility: hidden;
}

.redirect {
  display: grid;
  grid-template-columns: auto auto;
}


@media (max-width: 500px) {
  #subscribe {
    display: none;
  }

  #blog-name {
    font-size: 1.5rem;
  }

  #search {
    width: 5vw;
    height: 5vw;
  }

  .navbar{
    grid-template-columns: auto 5vw;
  }

  .card {
    min-height: 20vh;
  }


  .grid-container {
    display: inline-block;
  }

  .summary {
    max-width: 70vw;
    word-wrap: break-word;
  }

  .sub-mobile {
    visibility: visible;
    text-align: center;

  }

  .redirect {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  footer {
    left: 30%;
  }
}
